# Oracle installation files
install/fmw_14.1.2.0.0_fr_linux64.bin
install/fmw_14.1.2.0.0_infrastructure.jar
install/jdk-17.0.12_linux-x64_bin.tar.gz

# Compiled Forms files
forms_source/*.fmx
forms_source/*.mmx
forms_source/*.plx
Oracle/
db_data/

# Compiled Reports files
reports_source/*.rep
reports_source/*.jsp
reports_temp/

# Temporary files
*.log
*.tmp
.DS_Store
Thumbs.db
Oracle_backup.tar.gz